.background{
    width: 80%;
    height: 45%;
    background-image: url(../images/Background.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 8em;
    position: relative;
    overflow-y: auto;
}